@import "~prismjs/themes/prism-tomorrow.css"

@require './config'
@require './code'

body
    font-family 'Roboto', sans-serif
    font-size 15px
    color $textColor !important

p
    color:rgb(160, 158, 174)

a
    font-weight 400

h1, h2, h3, h4, h5, h6
    text-align left
    line-height 2

    &:hover .header-anchor
        opacity: 1
        transform: translate(0px)

a.header-anchor
  font-size 0.85em
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  transform: translate(-10px)
  &:hover
    text-decoration none

ol, ul, p
    line-height 1.7

img
    max-width 100%

code::before
    content ""

.container
    max-width 1200px

.slanted
    position: relative;
    display: block;
    height: 500px;
    background-color: $accentColor;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;

.slanted:after
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 0 0 100vw;
    border-color: transparent transparent transparent #fafafa;

/* Blog */

.article
    text-align left

.article p, .article ul,
    font-size: 20px
    color: #000;

.article h1 
    font-size 38px
    padding-top 50px

.article h2
    font-size 34px
    padding-top 50px

.article h3
    font-size 30px
    padding-top 30px

.article h4
    font-size 26px
    padding-top 30px
    margin-bottom -10px

.post-preview p
    font-size 20px