@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './app';

.icon.icon-link {
  background-image: url('~assets/svg/icon-hashtag.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.nuxt-content {
  font-family: Source Sans Pro, HelveticaNeue-Light, Helvetica Neue Light,
    Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  @apply p-5;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mt-10;
  }
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  h2 {
    font-weight: bold;
    font-size: 28px;
  }
  h3 {
    font-weight: bold;
    font-size: 22px;
  }
  p {
    @apply my-8;
    line-height: 32px;
    font-size: 21px;

    code {
      font-size: 75%;
      @apply p-1 text-gray-800 bg-gray-100;
    }

    a {
      @apply underline;
    }
  }

  pre {
    background-color: #2f495e;
    @apply rounded;
  }

  .nuxt-content-highlight {
    @apply relative;

    .filename {
      @apply absolute;
      @apply right-0;
      @apply text-white;
      @apply font-light;
      @apply italic;
      @apply z-10;
      @apply mr-2;
      @apply mt-1;
      @apply text-sm;
    }
  }
}

.nuxt-content-highlight {
  @apply relative;
}